<!-- <h1>Users</h1> -->
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%">Name</th>
            <th style="width: 40%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.uuid}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.uuid ?? '')" class="btn btn-sm btn-danger btn-delete-user"
                    [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> -->

<!-- <h1>prime ng input</h1>
<input type="text" pInputText />
<p-calendar [(ngModel)]="value"></p-calendar> -->


<!-- <p-toast></p-toast> -->
<div class="container">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" disabled icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button> -->
            </ng-template>
        </p-toolbar>

        <p-table #dt [lazy]="true" [loading]="loading" (onLazyLoad)="loadUsers($event)" [value]="usersData"
            [globalFilterFields]="[
        'name',
        'username',
        'email'
      ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <!-- <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Users</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="searchUser($event)" placeholder="Search..." />
                    </span>
                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <!-- <th pSortableColumn="name">
                        Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">
                        Email or Telephone
                        <p-sortIcon field="email"> </p-sortIcon>
                    </th> -->
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email or Telephone</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <!-- <td>
                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                    </td> -->
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-right d-flex-md">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            style="margin-right: 1em" (click)="editUser(user)"></button>
                        <button pButton pRipple icon="pi pi-trash" (click)="deleteUser(user && user.uuid ?? '')"
                            class="p-button-rounded p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{products ? products.length : 0 }} products.
                </div>
            </ng-template> -->
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '80%' }" [header]="editMode ? 'Edit Test' : 'Create New'"
    [modal]="true" [draggable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form autocomplete="off" [formGroup]="formUser" (ngSubmit)="saveUser()">

            <div class="p-field p-mb-1">
                <label for="description">Name</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" formControlName="name" pInputText required autofocus placeholder="Name">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Username</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
                    <input type="text" formControlName="username" pInputText required autofocus placeholder="Username">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Email</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="text" formControlName="email" pInputText required autofocus placeholder="Email">
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" (click)="hideDialog()" pButton pRipple label="Cancel" icon="pi pi-times"
            class="p-button-raised p-button-warning p-button-text"></button>
        <button type="button"
            [disabled]="!formUser.valid && !(formUser.get('password')?.value !== formUser.get('confirmPass')?.value)"
            pButton pRipple (click)="saveUser()" label="Save" icon="pi pi-check"
            class="p-button-raised p-button-text"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>