<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button> -->
        </ng-template>
    </p-toolbar>

    <p-table #dt [lazy]="true" [loading]="loading" (onLazyLoad)="loadUsers($event)" [value]="usersData"
        [globalFilterFields]="[
        'name',
        'username',
        'email'
      ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="text-right d-flex-md">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        style="margin-right: 1em" (click)="editUser(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteUser(user && user.uuid ?? '')"
                        class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '80%' }" [header]="editMode ? 'Edit Test' : 'Create New'"
    [modal]="true" [draggable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form autocomplete="off" [formGroup]="formUser" (ngSubmit)="saveUser()">

            <div class="p-field p-mb-1">
                <label for="description">Name</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" formControlName="name" pInputText required autofocus placeholder="Name">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Username</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
                    <input type="text" formControlName="username" pInputText required autofocus placeholder="Username">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Email</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="text" formControlName="email" pInputText required autofocus placeholder="Email">
                </div>
            </div>

            <div class="js-form-message form-group" *ngIf="!editMode">
                <label class="input-label w-100" for="signupSrPassword">
                    <span class="d-flex justify-content-between align-items-center">
                        Password
                    </span>
                </label>

                <p-password [toggleMask]="true" formControlName="password"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right">
                    <ng-template pTemplate="header">
                        <h6>Pick a password</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">

                        <p class="p-mt-2">Suggestions</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one numeric</li>
                            <li>Minimum 8 characters</li>
                        </ul>
                    </ng-template>
                </p-password>

            </div>

            <div class="js-form-message form-group" *ngIf="!editMode">
                <label class="input-label w-100" for="confirmPassword">
                    <span class="d-flex justify-content-between align-items-center">
                        Confirm password
                    </span>
                </label>

                <p-password [feedback]="false" [toggleMask]="true" formControlName="confirmPassword"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    [ngClass]="{ 'is-invalid': f['password'].value != f['confirmPassword'].value }">


                </p-password>
                <div *ngIf="f['confirmPassword'].dirty && f['password'].value != f['confirmPassword'].value"
                    class="invalid-feedback">
                    <div *ngIf="f['password'].value != f['confirmPassword'].value">Password are not same
                    </div>
                </div>

            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" (click)="hideDialog()" pButton pRipple label="Cancel" icon="pi pi-times"
            class="p-button-raised p-button-warning p-button-text"></button>
        <button type="button" [disabled]="!formUser.valid || f['password'].value != f['confirmPassword'].value" pButton
            pRipple (click)="saveUser()" label="Save" icon="pi pi-check" class="p-button-raised p-button-text"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>