@media screen and (max-width: 992px) {
  .d-flex-md {
    display: flex;
  }
}

.p-mr-2 {
  margin-right: 0.5em;
}

.covid-status-badge.status-false {
  background: #c8e6c9;
  color: #256029;
  padding: 5px;
}

.covid-status-badge.status-true {
  background: #ffcdd2;
  color: #c63737;
  padding: 5px;
}
