<!-- <p-toast></p-toast> -->
<div class="container">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button> -->
            </ng-template>
        </p-toolbar>

        <p-table #dt [lazy]="true" [loading]="loading" (onLazyLoad)="loadEmployees($event)" [value]="employeesData"
            [rows]="10" [paginator]="true" [totalRecords]="totalRecords" [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Candidates</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="searchEmployee($event)" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th pSortableColumn="name">
                        Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <!-- <th pSortableColumn="dateOfBirth">Date of birth <p-sortIcon field="dateOfBirth"></p-sortIcon> -->
                    <th>Date of birth</th>
                    <th pSortableColumn="emailOrTelephone">
                        Email or Telephone
                        <p-sortIcon field="emailOrTelephone"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="address">
                        Address <p-sortIcon field="address"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-covidTest>
                <tr>
                    <!-- <td>
                        <p-tableCheckbox [value]="covidTest"></p-tableCheckbox>
                    </td> -->
                    <td><a class="text-info" (click)="listDialogShow(covidTest.uuid)">{{ covidTest.name }}</a></td>
                    <td>{{ covidTest.dateOfBirth }}</td>
                    <td>{{ covidTest.emailOrTelephone }}</td>
                    <td>{{ covidTest.address }}</td>
                    <td class="text-right d-flex-md">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editEmployee(covidTest)"></button>
                        <button pButton pRipple icon="pi pi-trash" (click)="deleteEmployee(covidTest)"
                            class="p-button-rounded p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{products ? products.length : 0 }} products.
                </div>
            </ng-template> -->
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="productDialog" (onHide)="hideDialog()" [style]="{ width: '90%' }"
    [header]="editMode ? 'Edit Test' : 'Create New'" [modal]="true" [draggable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form autocomplete="off" [formGroup]="formEmployee" (ngSubmit)="saveEmployee()">

            <div class="p-field p-mb-1">
                <label for="description">First Name and Last Name</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" formControlName="name" pInputText required autofocus placeholder="Name">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Address</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
                    <input type="text" formControlName="address" pInputText required autofocus placeholder="Address">
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Date of birth</label>
                <div class="p-field date-mask-input">
                    <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                    <p-inputMask mask="99/99/9999" formControlName="dateOfBirth" placeholder="21.12.1990"
                        slotChar="dd.mm.yyyy">
                    </p-inputMask>
                </div>
            </div>

            <div class="p-field p-mb-1">
                <label for="description">Email or phone</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="text" formControlName="emailOrTelephone" pInputText id="emailOrTelephone" required
                        autofocus placeholder="Email or phone" />
                </div>
            </div>
        </form>

        <!-- <ul *ngIf="listOfTestVisible">
            <li *ngFor="let item of employeeTests">{{item.uuid}}</li>
        </ul> -->

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" (click)="hideDialog()" pButton pRipple label="Cancel" icon="pi pi-times"
            class="p-button-raised p-button-warning p-button-text"></button>
        <button type="button" [disabled]="!formEmployee.valid" pButton pRipple (click)="saveEmployee()" label="Save"
            icon="pi pi-check" class="p-button-raised p-button-text"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="listDialog" (onHide)="hideDialog()" [style]="{ width: '90%' }" [header]="'Tests for employee'"
    [modal]="true" [draggable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <p-table #dt [lazy]="true" [loading]="loading" [value]="usersData" [globalFilterFields]="[
                'name',
                'username',
                'email'
              ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Test Result</th>
                    <th>Email or Telephone</th>
                    <th>Address</th>
                    <th>Date of birth</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.createdTest | date: "dd/MM/yyyy HH:mm:ss" }}</td>
                    <td>
                        <span [class]="
                                'covid-status-badge status-' + user.testResult
                              ">{{ user.testResult ? "positive" : "negative" }}</span>
                    </td>
                    <td>{{ user.emailOrTelephone }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.dateOfBirth }}</td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>

    </ng-template>
</p-dialog>