<!-- <p-toast></p-toast> -->
<div class="container">
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button> -->
            </ng-template>
        </p-toolbar>

        <p-table #dt [lazy]="true" [loading]="loading" (onLazyLoad)="loadEmployees($event)" [value]="employeesData"
            [rows]="10" [paginator]="true" [totalRecords]="totalRecords" [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Employees</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="searchEmployee($event)" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th pSortableColumn="name">
                        Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th>Date of birth <p-sortIcon field="dateOfBirth"></p-sortIcon>
                    </th>
                    <th pSortableColumn="emailOrTelephone">
                        Email or Telephone
                        <p-sortIcon field="emailOrTelephone"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="userName">
                        Address <p-sortIcon field="address"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-covidTest>
                <tr>
                    <!-- <td>
                        <p-tableCheckbox [value]="covidTest"></p-tableCheckbox>
                    </td> -->
                    <td>{{ covidTest.name }}</td>
                    <td>{{ covidTest.dateOfBirth }}</td>
                    <td>{{ covidTest.emailOrTelephone }}</td>
                    <td>{{ covidTest.address }}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editEmployee(covidTest)"></button>
                        <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button> -->
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{products ? products.length : 0 }} products.
                </div>
            </ng-template> -->
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '80%' }" [header]="editMode ? 'Edit Test' : 'Create New'"
    [modal]="true" [draggable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- list of employee -->
        <div class="p-field" *ngIf="!editMode">
            <label for="name">autocomplete</label>
            <!-- <p-autoComplete [(ngModel)]="autoCompleteText" [suggestions]="autoCompleteResults"
                (completeMethod)="autoCompleteSearch($event)" field="name" [dropdown]="true"
                (onSelect)="handleDropdown($event)">
                <ng-template let-test pTemplate="item">
                    <div class="country-item">
                        <div>{{ test.name }} - {{ test.updatedAt }}</div>
                    </div>
                </ng-template>
            </p-autoComplete> -->
        </div>

        <!-- forma -->
        <form autocomplete="off" [formGroup]="formEmployee" (ngSubmit)="saveEmployee()">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" formControlName="name" pInputText id="name" required autofocus />
            </div>
            <div class="p-field">
                <label for="description">Address</label>
                <input id="description" formControlName="address" pInputTextarea required />
            </div>
            <div class="p-field">
                <label for="description">Date of birth</label>
                <p-inputMask mask="99/99/9999" formControlName="dateOfBirth" placeholder="21.12.1990"
                    slotChar="dd.mm.yyyy">
                </p-inputMask>
            </div>
            <div class="p-field">
                <label for="name">Email</label>
                <input type="text" formControlName="emailOrTelephone" pInputText id="emailOrTelephone" required
                    autofocus />
            </div>
        </form>
        <!-- forma -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button type="button" (click)="hideDialog()" pButton pRipple label="Cancel" icon="pi pi-times"
            class="p-button-text"></button>
        <button type="button" [disabled]="!formEmployee.valid" pButton pRipple (click)="saveEmployee()" label="Save"
            icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>