<div class="container">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button> -->
      </ng-template>
    </p-toolbar>

    <p-table #dt [lazy]="true" [loading]="loading" (onLazyLoad)="loadTests($event)" [value]="covidTestsData" [rows]="10"
      [paginator]="true" [totalRecords]="totalRecords" [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]" responsiveLayout="scroll" [(selection)]="selectedTest" [rowHover]="true" dataKey="id"
      [rowsPerPageOptions]="[10, 25, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      sortField="createdTest" [sortOrder]="-1">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Covid Test</h5>
          <span class="p-input-icon-left p-0 col-sm-6">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="w-100" (input)="searchCovidTest($event)" placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="createdTest">
            Date <p-sortIcon field="createdTest"></p-sortIcon>
          </th>
          <th pSortableColumn="testResult">
            Test Result <p-sortIcon field="testResult"></p-sortIcon>
          </th>
          <th pSortableColumn="emailOrTelephone">
            Email
            <p-sortIcon field="emailOrTelephone"> </p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th>Date of birth</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-covidTest>
        <tr>
          <td>{{ covidTest.name }}</td>
          <td>{{ covidTest.createdTest | date: "dd/MM/yyyy HH:mm" }}</td>
          <td>
            <span [class]="
                'covid-status-badge status-' + covidTest.testResult
              ">{{ covidTest.testResult ? "positive" : "negative" }}</span>
          </td>

          <td>{{ covidTest.emailOrTelephone }}</td>
          <td>{{ covidTest.address }}</td>
          <td>{{ covidTest.dateOfBirth }}</td>
          <td>
            <div class="d-flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 mr-2"
                (click)="editTest(covidTest)"></button>
              <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-info p-mr-2 mr-2"
                (click)="confirmation('download', covidTest.uuid)"></button>
              <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded p-button-warning p-mr-2"
                (click)="confirmation('mail', covidTest.uuid)"></button>
              <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button> -->
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{covidTestsData ? covidTestsData.length : 0 }} Tests.
        </div>
      </ng-template> -->
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="productDialog" (onHide)="closeDialog()" [style]="{ width: '90%' }"
  [header]="editMode ? 'Edit Test' : 'Create New'" [modal]="true" [draggable]="false" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <!-- list of employee -->
    <div class="p-field mb-3" *ngIf="!editMode">
      <label for="name">Search for Employee</label>
      <p-autoComplete [(ngModel)]="autoCompleteText" [suggestions]="autoCompleteResults"
        (completeMethod)="autoCompleteSearch($event)" field="name" [dropdown]="true"
        (onSelect)="handleDropdown($event)">
        <ng-template let-test pTemplate="item">
          <div class="country-item">
            <div>{{ test.name }} - {{ test.emailOrTelephone }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <form autocomplete="off" [formGroup]="formCovidTest" (ngSubmit)="saveCovidTest()">
      <div class="row">
        <div class="col-lg-6">
          <div class="p-field p-mb-1">
            <label for="description">First Name and Last Name</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" [attr.disabled]="selectedEmployee || editMode ? '' : null" formControlName="name"
                pInputText required autofocus placeholder="Name">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-field p-mb-1">
            <label for="description">Date of birth</label>
            <div class="p-field date-mask-input">
              <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
              <p-inputMask mask="99/99/9999" [disabled]="selectedEmployee || editMode" formControlName="dateOfBirth"
                placeholder="21.12.1990" slotChar="dd.mm.yyyy">
              </p-inputMask>
            </div>
          </div>
        </div>
      </div>
      <div class="p-field p-mb-1">
        <label for="description">Address</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
          <input type="text" formControlName="address" [attr.disabled]="selectedEmployee || editMode ? '' : null"
            pInputText required autofocus placeholder="Address">
        </div>
      </div>
      <div class="p-field p-mb-1">
        <label for="description">Email</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input type="text" formControlName="emailOrTelephone"
            [attr.disabled]="selectedEmployee || editMode ? '' : null" pInputText id="emailOrTelephone" required
            autofocus placeholder="Email" />
        </div>
      </div>

      <div class="p-field p-mb-1 row">
        <div class="col-12">
          <label for="time">Time</label>
        </div>
        <div class="col-sm-7">
          <p-calendar formControlName="createdTest" [disabled]="dateLock" [showIcon]="true" dateFormat="dd.mm.yy"
            [showTime]="true" [showSeconds]="true" inputId="time" appendTo="body">
          </p-calendar>
        </div>
        <div class="col-sm-2 col-6 d-flex align-items-center">
          <button type="button" pButton pRipple label="Now" [disabled]="dateLock" (click)="dateNow()"
            class="p-button-outlined"></button>
          <!-- <button type="button" pButton pRipple [label]="dateLock ? 'Unlock' : 'Lock'"
                            (click)="dateDisabled()" [icon]="dateLock ? 'pi pi-lock' : 'pi pi-unlock'"
                            class="p-button-text"></button> -->
        </div>
        <div class="col-sm-2 col-6 d-flex align-items-center">
          <label class="mb-0 mr-2">Unlock</label>
          <p-inputSwitch (onChange)="dateDisabled()" class="d-flex"></p-inputSwitch>
        </div>
      </div>
      <div class="p-field p-mb-1">
        <label for="inventoryStatus">Covid Test Status</label>
        <!-- <p-dropdown inputId="inventoryStatus" [options]="statuses" formControlName="testResult" placeholder="Select">
          <ng-template let-option pTemplate="item">
            <span [class]="'covid-status-badge status-' + option.value">{{
              option.label
              }}</span>
          </ng-template>
        </p-dropdown> -->

        <div class="p-field-radiobutton d-flex my-3">
          <p-radioButton class="pr-3" name="testResult" [value]="true" formControlName="testResult"
            inputId="testResult1">
          </p-radioButton>
          <label class="mb-0 covid-status-badge status-true" for="testResult1">POSITIVE</label>
        </div>
        <div class="p-field-radiobutton d-flex my-3">
          <p-radioButton class="pr-3" name="testResult" [value]="false" formControlName="testResult"
            inputId="testResult2">
          </p-radioButton>
          <label class="mb-0 covid-status-badge status-false" for="testResult2">NEGATIVE</label>
        </div>
      </div>

      <div class="mt-3">
        <p-accordion>
          <p-accordionTab header="Additional info">
            <div class="p-field">
              <label for="description">Message</label>
              <textarea id="description" formControlName="internalMessage" pInputTextarea rows="3" cols="20"></textarea>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button type="button" (click)="closeDialog()" pButton pRipple label="Cancel" icon="pi pi-times"
      class="p-button-raised p-button-warning p-button-text"></button>
    <button type="button" [disabled]="!formCovidTest.valid" pButton pRipple (click)="saveCovidTest()" label="Save"
      icon="pi pi-check" class="p-button-raised p-button-text"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<router-outlet></router-outlet>