

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(231, 234, 243, 0.7);
    border-radius: 0.75rem;
  }
  
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.3125rem;
  }
  
  .input-label-secondary {
    color: #8c98a4;
    font-size: .8125rem;
    margin-left: 0.25rem;
  }
  a {
    color: #377dff;
    text-decoration: none;
    background-color: transparent;
  }